<div>
  <nav class="">


  </nav>


  <div class="container p-10  my-5 border">
    <!--  <br>
    <h3 style="text-align: center;"></h3>
    <hr>   -->
    <div class="card">
      <div class="card-body">


        <div class="row">
          <div class="column">
            <div class="card">

              <h1> <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Complaint</a></h1>

            </div>
          </div>

          <div class="column">
            <div class="card">

              <h1><a class="nav-link" routerLink="/farmer/complaint" routerLinkActive="active">View Complaint</a></h1>

            </div>
          </div>

          <div class="column">
            <div class="card">
              <h1><a class="nav-link" routerLink="/add/product" routerLinkActive="active">Add product</a></h1>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <h1><a class="nav-link" routerLink="/view/advertises" routerLinkActive="active">View Advertise</a></h1>
            </div>
          </div>
        </div>




        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<footer>

  <p>copyright © 2021 all rights reserved</p>

</footer>