<div>

  <div class="container p-10  my-5 border">
    <br>
    <h1 style="text-align: center;"><b>Supplier Dashboard</b></h1>
    <br>
    <br>
    <br>
    <div class="card">
      <div class="card-body">


        <div class="row">
          <div class="column">
            <div class="card">

              <h1> <a class="nav-link" routerLink="/addA" routerLinkActive="active">Post Advertise</a></h1>

            </div>
          </div>

          <div class="column">
            <div class="card">

              <h1><a class="nav-link" routerLink="/products" routerLinkActive="active">Product List</a></h1>

            </div>
          </div>

          <div class="column">
            <div class="card">
              <h1><a class="nav-link" routerLink="/farmers" routerLinkActive="active">Farmer List</a></h1>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <h1><a class="nav-link" routerLink="/view/advertises" routerLinkActive="active">Advertise List</a></h1>
            </div>
          </div>


        </div>




        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<footer>

  <p>copyright © 2021 all rights reserved</p>

</footer>