<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <br>
      <br>
      <h1><b>Farmer List</b></h1>
    </div>
    <br>

    <div class="panel-body">
      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0"
        width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Contact Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let farmer of farmers">
            <td>{{farmer.farmer_id}}</td>
            <td>{{farmer.first_name}}</td>
            <td>{{farmer.last_name}}</td>
            <td>{{farmer.gender}}</td>
            <td>{{farmer.contact_number}}</td>
            <td><button style='margin-right:16px' (click)="deleteFarmer(farmer.farmer_id)"
                class="btn btn-danger">Delete</button>
              <!-- <button style='margin-right:16px' (click)="updateFarmer(farmer.farmer_id)" class="btn btn-success" style="margin-left: 10px">Update</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>