<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
  <div class=" text-center mt-5 ">
    <h3>Update Supplier here</h3>
  </div>



  <!-- <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Id</label>
            <input type="text" class="form-control" id="supplier_id" required [(ngModel)]="supplier1.supplier_id" name="supplier_id">
          </div>
      
          <div class="form-group">
            <label for="name">SName</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="supplier1.name" name="name">
          </div>
          <div class="form-group">
              <label for="name">Mobile No</label>
              <input type="text" class="form-control" id="mobile_no" required [(ngModel)]="supplier1.mobile_no" name="mobile_no">
            </div>
  <button style='margin-right:16px' class="btn btn-success">Submit</button>
  <button style='margin-right:16px' (click)="list()" class="btn btn-success">Back to Suppliers</button>

  </form> -->




  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="update-form" role="form" form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
              <div class="controls">


                <!-- <form (ngSubmit)="onSubmit()"> -->
                <div class="form-group">
                  <label for="name">Id</label><span class="required">*</span>

                  <input type="text" class="form-control" disabled="disabled" id="supplier_id" required
                    [(ngModel)]="supplier1.supplier_id" name="supplier_id">
                </div>


                <div class="form-group">
                  <label for="name">SName</label><span class="required">*</span>

                  <input type="text" class="form-control" id="name" required [(ngModel)]="supplier1.name" name="name">

                </div>

                <div class="form-group">
                  <label for="name">Mobile Number</label><span class="required">*</span>

                  <input type="text" class="form-control" id="mobile_no" required [(ngModel)]="supplier1.mobile_no"
                    name="mobile_no">

                </div>

                <button style='margin-right:16px' class="btn btn-success">Submit</button>
                <button style='margin-right:16px' (click)="listSup()" class="btn btn-success">Back to Supplier</button>

                <!-- </form> -->

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>